<div class="col-md-3">
  <ul class="nav nav-pills flex-column mb-4">
    <li class="nav-item">
      <a href="/Account/Manage/Profile" class="nav-link<%= active === 'profile' ? ' active' : '' %>">Profile</a>
    </li>
    <li class="nav-item">
      <a href="/Account/Manage/Email" class="nav-link<%= active === 'email' ? ' active' : '' %>">Email</a>
    </li>
    <li class="nav-item">
      <a href="/Account/Manage/Password" class="nav-link<%= active === 'password' ? ' active' : '' %>">Password</a>
    </li>
    <li class="nav-item">
      <a href="/Account/Manage/TwoFA" class="nav-link<%= active === 'twofa' ? ' active' : '' %>">Two-factor authentication</a>
    </li>
    <li class="nav-item">
      <a href="/Account/Manage/Data" class="nav-link<%= active === 'data' ? ' active' : '' %>">Personal data</a>
    </li>
  </ul>
</div> 